[submodule "north_america/usa"]
	path = north_america/usa
	url = https://github.com/orc1n/usa
[submodule "europe/sweden"]
	path = europe/sweden
	url = https://github.com/orc1n/sweden
[submodule "europe/poland"]
	path = europe/poland
	url = https://github.com/orc1n/poland
